* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    position: relative;

    .main{
        width: 100%;        
        background-image: url('../images/register.jpg');
        background-size: cover;
        .account-details{
            background-color: rgba(1, 23, 34, 0.3);            
            height: 200px;
            color: white;
            max-width: 300px;
            margin: auto;
            margin-top: 200px;
            table{
                border: 1px solid white;
                margin: auto;
                tr{
                    border: 1px solid white;
                    td{
                        border: 1px solid white;
                    }
                }
            }
            button{
                display: block;
                margin: auto;                
                margin-top: 40px;
                padding: 10px;
            }
        }
    }

    .navigation {
        background-color: rgb(66, 135, 245);
        height: 60px;
        display: flex;
        align-items: center;
        position: absolute;
        left: 290px;
        top: 2px;
        right: 2px;
        border-radius: 5px;
        border: none;

        .logo {
            width: 20%;

            p {
                margin-left: 50px;
                color: white;
                text-transform: uppercase;
                letter-spacing: 3px;
            }
        }

        .user {
            flex: 1;
            display: flex;
            justify-content: end;

            .container {
                position: relative;
                display: inline-block;

                p {
                    display: inline;
                    color: #ffffff;
                    margin-right: 40px;
                }

                .options-dropdown {
                    display: none;
                    position: absolute;
                    background-color: rgb(66, 135, 245);
                    min-width: 160px;
                    right: 0;
                    top: 10;
                    z-index: 1;
                }

                .options-dropdown a {
                    color: white;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    border: 1px solid rgba(66, 135, 245, 0);
                }

                .options-dropdown a:hover {
                    background-color: white;
                    color: rgb(66, 135, 245);
                }
            }

            .container:hover .options-dropdown {
                display: block;
            }

        }
    }

    .side-menu {
        background-color: rgb(66, 135, 245);
        position: absolute;
        width: 280px;
        top: 2px;
        left: 2px;
        bottom: 2px;
        border-radius: 5px;

        .notification {
            color: white;
        }

        .first-item {
            margin-top: 60px;
        }

        display: flex;
        flex-direction: column;
        align-items: center;

        .add-item {
            width: 70%;
            height: 60px;
            border: 1px solid white;
            border-radius: 16px;
            background-color: rgb(66, 135, 245);
            text-align: center;
            margin-bottom: 10px;
            color: white;
            form{
                div{
                    width: 30%;
                    height: 35px;
                    margin: auto;
                    background-image: url("../images/add-item.svg");
                    background-size: cover;
                    input{
                        background-color: red;
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                    }
                }  
                button{
                    padding: 5px;
                    border: 0;
                    border-radius: 2px;
                }              
            }
        }
    }

    .image {
        background-image: url('../images/register.jpg');
        background-size: cover;
        width: 70%;
    }

    .register-form {
        background-color: #ffffff;
        flex: 1;

        .signup-header {
            margin-top: 30%;
            margin-bottom: 30px;
            text-align: center;
        }

        .form {
            .error {
                text-align: center;
                margin-top: 20px;
            }

            .regErrors {
                color: red;
                text-align: center;
                padding: 5px 0px;
            }

            form {
                background-color: white;
                max-width: 330px;
                margin: auto;

                label {
                    display: block;
                    margin-left: 13px;
                    margin-bottom: 5px;
                    color: gray;
                }

                input[type=text],
                input[type=password],
                input[type=email] {
                    display: block;
                    margin: auto;
                    width: 92%;
                    height: 26px;
                    margin-bottom: 10px;
                    border-width: 0 0 2px;
                }

                input[type=text]:focus {
                    border: 2px solid rgb(1, 23, 34);
                }

                input[type=submit] {
                    padding: 0 70px;
                    height: 40px;
                    margin-left: 13px;
                    border-radius: 20px;
                    background: rgb(1, 23, 34);
                    background: linear-gradient(90deg, rgba(1, 23, 34, 1) 0%, rgba(15, 81, 113, 1) 100%);
                    color: #ffffff;
                    font-weight: 700;
                    margin-top: 20px;
                    border: none;
                }

                a {
                    color: rgb(1, 23, 34);
                    text-decoration: none;
                    margin-left: 30px;
                }

            }
        }
    }

    .content {
        padding: 10px;
        position: absolute;
        border: none;
        border-radius: 5px;
        top: 60px;
        left: 290px;
        bottom: 2px;
        right: 2px;
        background-color: rgba(208, 207, 207, 0.8);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 2px;

        .item {
            max-width: 100px;
            height: 120px;
            position: relative;
            .head{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                height: 100px;
            }
            .data{   
                position: absolute;
                left: 0;
                bottom: 0;
                right: 0;             
                word-wrap: break-word;
            }

            .downloadButton{
                color: black;
                position: absolute;
                margin-top: 10px;
                right: 2px;
                height: 20px;
                text-decoration: none;
                //border: 1px solid black;
                //padding: 2px;
            }

            .deleteButton{
                color: black;
                position: absolute;
                margin-top: 40px;
                right: 2px;
                height: 20px;
                text-decoration: none;
                //border: 1px solid black;
                //padding: 2px;
            }

            p {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
        }

        a {
            height: 100px;

            img {
                object-fit: cover;
                max-height: 100px;
                width: 100%;
            }
        }

    }
}